html{
    background-color: white;
    color: black;
}

#stage{
    width: 800px;
    height: 450px;
    background:url(img/background.jpg) no-repeat;
    margin: 100px auto 0px;
    overflow: hidden;
    position: relative;
}

#text{
    width: 800px;
    margin: 10px auto;
}

.count,.score{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
    margin-left: 15px;
}

.count span,.score span{
    font-size: 28px;
}

#start{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -150px;
    cursor: pointer;
}

#start:hover{
    opacity: 0.8;
}

.chara{
    width: 60px;
    height: 60px;
    background: url(img/何てこった.png) no-repeat top;
    background-size: 140%;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 800px;
    opacity: 0;
}

.chara2{
    width: 60px;
    height: 60px;
    background: url(img/ゾンビマリオ.png) no-repeat top;
    background-size: 140%;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 800px;
    opacity: 0;
}

.chara3{
    width: 60px;
    height: 60px;
    background: url(img/クッパ.png) no-repeat top;
    background-size: 140%;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 800px;
    opacity: 0;
}

.bgm_btn{
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: rgb(23, 23, 103);
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
}

.bgm_btn:hover{
    color: rgb(23, 23, 103);
    background-color: rgba(255, 255, 255, 0.935);
}

#rankingModal{
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    text-align: center;
}

#rankingModal ul {
    list-style: none;
    padding: 0;
}

#rankingModal button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}